@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;1,600&family=El+Messiri:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree";
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2b2c2c;
}

main {
    width: 1200px;
    margin: 0px auto;
}

#main-top {
    height: 400px;
    background-color: #2b2c2c;
}

#main-top #presentation {
    display: flex;
    justify-content: center;
    height: 400px;
    overflow: hidden;
}

#main-top #presentation img {
    height: 130%;
}

#main-top #presentation #my-name {
    color: white;
    margin: 80px;
}

#main-top #presentation #my-name p {
    font-size: calc(0.5em + 0.7vw);
}

#main-top #presentation #my-name h1 {
    font-size: calc(1.8em + 1.8vw);
}

#main-top #presentation #my-name h4 {
    font-size: calc(0.5em + 0.7vw);
}

#main-top #presentation #my-name .btn {
    position: relative;
    display: inline-block;
    width: 230px;
    margin-top: 30px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: orange;
    border: 2px solid orange;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

#main-top #presentation #my-name .btn.btn-border::after,
#main-top #presentation #my-name .btn.btn-border::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: 0.5s;
}

#main-top #presentation #my-name .btn.btn-border::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

#main-top #presentation #my-name .btn.btn-border::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

#main-top #presentation #my-name .btn.btn-border:hover {
    color: white;
}

#main-top #presentation #my-name .btn.btn-border:hover::after,
#main-top #presentation #my-name .btn.btn-border:hover::before {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-color: white;
}

#main-middle {
    background-color: #303131;
}

#main-middle #about-me {
    padding: 80px;
    text-align: justify;
    color: white;
}

#main-middle #about-me h1 {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 3px solid orange;
}

#main-middle #about-me p {
    font-size: calc(0.6em + 0.6vw);
}

#main-bottom {
    height: 700px;
    background-color: #2b2c2c;
}

#main-bottom #projects {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 50px 0px 20px 0px;
}

#main-bottom #projects h4 {
    background-color: white;
    color: gray;
    text-align: center;
    border: none;
    width: 23%;
    padding: 10px;
    border-radius: 5px;
    font-size: calc(0.65em + 0.6vw);
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    transition: all 0.6s;
    background-size: 300%;
}

#main-bottom #projects h4:hover {
    color: #fff;
    background-position: 100%;
}

#main-bottom #projects .orange {
    color: orange;
    background-image: linear-gradient(120deg, white 50%, orange 50%);
}

#main-bottom #projects .active {
    background-position: 100%;
    color: white;
    box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

#main-bottom #show-content {
    width: 100%;
    height: 470px;
    display: grid;
    justify-content: center;
    grid-template-columns: 310px 310px 310px;
    gap: 20px;
    overflow: hidden;
}

#main-bottom #show-content .card-box {
    position: relative;
    height: 450px;
    border: none;
    border-radius: 10px;
    background-color: white;
    opacity: 0.5;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

#main-bottom #show-content .card-box img {
    width: 100%;
    height: 230px;
    border-radius: 10px 10px 0px 0px;
}

#main-bottom #show-content .card-box h3 {
    height: 20px;
    background-color: orange;
    text-align: center;
    border: none;
    border-radius: 25px;
    margin: -10px 35px;
    font-size: 15px;
    color: white;
    cursor: default;
}

#main-bottom #show-content .card-box p {
    color: black;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    cursor: default;
}

#main-bottom #show-content .card-box button {
    position: absolute;
    bottom: 0px;
    width: 93%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
    background-color: gray;
    font-size: calc(0.7em + 0.7vw);
}

#main-bottom #show-content .card-box button:hover {
    background-color: orange;
}

#main-bottom #show-content .card-box:hover {
    opacity: 1;
    transform: scale(1.03);
}

#main-bottom #page-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#main-bottom #page-btn button {
    width: 40px;
    height: 40px;
    font-weight: bolder;
    border: none;
    margin-left: 10px;
    background-color: orange;
    cursor: pointer;
    transition: 0.5s;
}

#main-bottom #page-btn button:hover {
    background-color: rgb(194, 126, 0);
}

footer {
    background-color: #303131;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(0.3em + 0.4vw);
}

footer #social-media {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

footer #social-media a {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    background-color: black;
    border: none;
    border-radius: 50%;
    transition: 0.5s;
}

footer #social-media a:hover {
    background-color: orange;
}

footer #social-media a img {
    height: 50%;
    margin: 12px 13px;
}

@media screen and (max-width: 1200px) {
    main {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    section#main-bottom #show-content {
        grid-template-columns: 310px 310px;
    }

    section#main-bottom #page-btn button {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 700px) {
    section#main-top #presentation #my-name {
        margin-left: 10px;
    }

    section#main-bottom #show-content {
        grid-template-columns: 310px;
    }
}

@media screen and (max-width: 600px) {
    section#main-top #presentation #my-name {
        margin-top: 120px;
        margin-left: -100px;
    }

    section#main-middle #about-me {
        padding: 30px;
    }
}
